.network-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* font-size: 0.6em; */
  padding: 6px 3px;
  width: 200px;
  border-radius: 82px;
}

@media screen and (max-width:750px){
  .network-indicator {
    padding: 3px 1px;
    width: 200px;
    border-radius: 42px;
  }
}